body{
	font-family: arial;
	text-align: center;
	text-transform: uppercase;
	background-image:  linear-gradient(to right, red , blue);

}
.try{
	text-transform: lowercase;
	color: white;
	font-family: "Calibri";
}